<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
  body {
    height: 100%;
  }

  html {
      height: 100%;
  }

  .left{
    height: 100%;
    width: 30%;
    background-color:rgb(54, 52, 52);
    height : 100%;
    color : rgb(167, 87, 87);
  }

  .right{
    height: 100%;
    width: 70%;
    background-color:rgb(61, 58, 58);
    height : 100%;
    color : rgb(180, 144, 144);
  }



</style>
</head>

<body>
	<!-- This is a simple example template with a form that has a single input field. 
		   You'll need something similar for the login page -->


  <div class="col-lg-6 col-sm-12 left">
    
  </div>

  <div class="col-lg-6 col-sm-12 right">
    
  </div>

 
		   
</body>
</html>
